* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--red: hsl(0, 94%, 66%);
	--blue: hsl(231, 69%, 60%);
	--grayishblue: hsl(229, 8%, 60%);
	--verydarkblue: hsl(229, 31%, 21%);
	--border: hsla(229, 8%, 60%, 0.5);
}

body {
	font-family: Rubik;
	font-size: 15px;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: none;
	outline: none;
	border: none;
	text-align: start;
	cursor: pointer;
}
